In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

/data/data/com.termux/files/usr/lib/python3.8/site-packages/scipy-1.3.2-py3.8-linux-aarch64.egg/scipy/optimize/_shgo.py:495: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if cons['type'] is 'ineq':
/data/data/com.termux/files/usr/lib/python3.8/site-packages/scipy-1.3.2-py3.8-linux-aarch64.egg/scipy/optimize/_shgo.py:743: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if len(self.X_min) is not 0:

In [4]:
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 144

In [5]:
import expectexception

ModuleNotFoundError: No module named 'expectexception'

# Pandas

<!-- requirement: data/yelp.json.gz -->
<!-- requirement: data/PEP_2016_PEPANNRES.csv -->

In [6]:
import pandas as pd

We introduced the Pandas module and the DataFrame object in the lesson on [basic data science modules](DS_Basic_DS_Modules.ipynb). We learned how to construct a DataFrame, add data, retrieve data, and [basic reading and writing to disk](DS_IO.ipynb). Now we'll explore the DataFrame object and its powerful analysis methods in more depth.

We'll work with a data set from the online review site, Yelp. The file is stored as a compressed JSON file.

In [10]:
!ls -lh ./data/yelp.json.gz

-rw-rw---- 1 root everybody 4.2M Dec 26 08:26 ./data/yelp.json.gz

In [8]:
import gzip
# import simplejson as json
import json

with gzip.open('./data/yelp.json.gz', 'r') as f:
    yelp_data = [json.loads(line) for line in f]
    
yelp_df = pd.DataFrame(yelp_data)
yelp_df.head()

,business_id,full_address,hours,open,categories,city,review_count,name,neighborhoods,longitude,state,stars,latitude,attributes,type
0,vcNAWiLM4dR7D2nwwJ7nCA,"4840 E Indian School Rd\nSte 101\nPhoenix, AZ ...","{'Tuesday': {'close': '17:00', 'open': '08:00'...",True,"[Doctors, Health & Medical]",Phoenix,7,"Eric Goldberg, MD",[],-111.983758,AZ,3.5,33.499313,{'By Appointment Only': True},business
1,JwUE5GmEO-sH1FuwJgKBlQ,"6162 US Highway 51\nDe Forest, WI 53532",{},True,[Restaurants],De Forest,26,Pine Cone Restaurant,[],-89.335844,WI,4.0,43.238893,"{'Take-out': True, 'Good For': {'dessert': Fal...",business
2,uGykseHzyS5xAMWoN6YUqA,"505 W North St\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '06:00'}...",True,"[American (Traditional), Restaurants]",De Forest,16,Deforest Family Restaurant,[],-89.353437,WI,4.0,43.252267,"{'Take-out': True, 'Good For': {'dessert': Fal...",business
3,LRKJF43s9-3jG9Lgx4zODg,"4910 County Rd V\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '10:30'}...",True,"[Food, Ice Cream & Frozen Yogurt, Fast Food, R...",De Forest,7,Culver's,[],-89.374983,WI,4.5,43.251045,"{'Take-out': True, 'Wi-Fi': 'free', 'Takes Res...",business
4,RgDg-k9S5YD_BaxMckifkg,"631 S Main St\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '11:00'}...",True,"[Chinese, Restaurants]",De Forest,3,Chang Jiang Chinese Kitchen,[],-89.343722,WI,4.0,43.240875,"{'Take-out': True, 'Has TV': False, 'Outdoor S...",business

## Pandas DataFrame and Series

The Pandas DataFrame is a highly structured object. Each row corresponds with some physical entity or event. We think of all of the information in a given row as referring to one object (e.g. a business). Each column contains one type of data, both semantically (e.g. names, counts of reviews, star ratings) and syntactically.

In [7]:
yelp_df.dtypes

attributes        object
business_id       object
categories        object
city              object
full_address      object
hours             object
latitude         float64
longitude        float64
name              object
neighborhoods     object
open                bool
review_count       int64
stars            float64
state             object
type              object
dtype: object

We can reference the columns by name, like we would with a `dict`.

In [9]:
yelp_df['city'].head()

0      Phoenix
1    De Forest
2    De Forest
3    De Forest
4    De Forest
Name: city, dtype: object

In [11]:
type(yelp_df['city'])

pandas.core.series.Series

An individual column is a Pandas `Series`. A `Series` has a `name` and a `dtype` (similar to a NumPy array). A `DataFrame` is essentially a `dict` of `Series` objects. The `Series` has an `index` attribute, which label the rows. The index is essentially a set of keys for referencing the rows. We can have an index composed of numbers, strings, timestamps, or any hashable Python object. The index will also have homogeneous type.

In [8]:
yelp_df['city'].index

RangeIndex(start=0, stop=37938, step=1)

The `DataFrame` has an `index` given by the union of indices of its constituent `Series` (we'll explore this later in more detail). Since a `DataFrame` is a `dict` of `Series`, we can select a column and then a row using square bracket notation, but not the reverse (however, the `loc` method works around this).

In [9]:
# this works
yelp_df['city'][100]

'Madison'

In [10]:
%%expect_exception KeyError

# this doesn't
yelp_df[100]['city']

UsageError: Cell magic `%%expect_exception` not found.

In [11]:
yelp_df.loc[100, 'city']

'Madison'

Understanding the underlying structure of the `DataFrame` object as a `dict` of `Series` will help you avoid errors and help you think about how the `DataFrame` should behave when we begin doing more complicated analysis.

We can _aggregate_ data in a `DataFrame` using methods like `mean`, `sum`, `count`, and `std`. To view a collection of summary statistics for each column we can use the `describe` method.

In [ ]:
yelp_df.describe(include="all")

The utility of a DataFrame comes from its ability to split data into groups, using the `groupby` method, and then perform custom aggregations using the `apply` or `aggregate` method. This process of splitting the data into groups, applying an aggregation, and then collecting the results is [discussed in detail in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html), and is one of the main focuses of this notebook.

## DataFrame construction

Since a `DataFrame` is a `dict` of `Series`, the natural way to construct a `DataFrame` is to use a `dict` of `Series`-like objects.

In [13]:
from string import ascii_letters, digits
import numpy as np
import datetime

In [14]:
usernames = ['alice36', 'bob_smith', 'eve']

passwords = [''.join(np.random.choice(list(ascii_letters + digits), 8)) for x in range(3)]
creation_dates = [datetime.datetime.now().date() - datetime.timedelta(int(x)) for x in np.random.randint(0, 1500, 3)]

In [15]:
df = pd.DataFrame({'username': usernames, 'password': passwords, 'date-created': pd.to_datetime(creation_dates)})
df

    username  password date-created
0    alice36  sZq9hOjc   2017-11-09
1  bob_smith  JSKyqwET   2015-12-29
2        eve  hdwL2nea   2016-01-20

In [ ]:
df.dtypes

The `DataFrame` is also closely related to the NumPy `ndarray`.

In [16]:
random_data = np.random.random((4,3))
random_data

array([[0.07435374, 0.94671222, 0.48647251],
       [0.33231271, 0.02020477, 0.40893671],
       [0.33441891, 0.17708686, 0.53307987],
       [0.6866082 , 0.28125718, 0.91790893]])

In [17]:
df_random = pd.DataFrame(random_data, columns=['a', 'b', 'c'])
df_random

          a         b         c
0  0.074354  0.946712  0.486473
1  0.332313  0.020205  0.408937
2  0.334419  0.177087  0.533080
3  0.686608  0.281257  0.917909

To add a new column or row, we simply use `dict`-like assignment.

In [18]:
emails = ['alice.chan@gmail.com', 'bwsmith1983@gmail.com', 'fakemail123@yahoo.com']
df['email'] = emails
df

    username  password date-created                  email
0    alice36  sZq9hOjc   2017-11-09   alice.chan@gmail.com
1  bob_smith  JSKyqwET   2015-12-29  bwsmith1983@gmail.com
2        eve  hdwL2nea   2016-01-20  fakemail123@yahoo.com

In [19]:
# loc references index value, NOT position
# for position use iloc
df.loc[3] = ['2015-01-29', '38uzFJ1n', 'melvintherobot', 'moviesrgood@moviesrgood.com']
df

     username  password         date-created                        email
0     alice36  sZq9hOjc  2017-11-09 00:00:00         alice.chan@gmail.com
1   bob_smith  JSKyqwET  2015-12-29 00:00:00        bwsmith1983@gmail.com
2         eve  hdwL2nea  2016-01-20 00:00:00        fakemail123@yahoo.com
3  2015-01-29  38uzFJ1n       melvintherobot  moviesrgood@moviesrgood.com

We can also drop columns and rows.

In [20]:
df.drop(3)

    username  password         date-created                  email
0    alice36  sZq9hOjc  2017-11-09 00:00:00   alice.chan@gmail.com
1  bob_smith  JSKyqwET  2015-12-29 00:00:00  bwsmith1983@gmail.com
2        eve  hdwL2nea  2016-01-20 00:00:00  fakemail123@yahoo.com

In [ ]:
# to drop a column, need axis=1
df.drop('email', axis=1)

Notice when we dropped the `'email'` column, the row at index 3 was in the `DataFrame`, even though we just dropped it! Most operations in Pandas return a _copy_ of the `DataFrame`, rather than modifying the `DataFrame` object itself. Therefore, in order to permanently alter the `DataFrame`, we either need to reassign the `df` variable, or use the `inplace` keyword.

In [ ]:
df.drop(3, inplace=True)
df

Since the `index` and column names are important for interacting with data in the DataFrame, we should make sure to set them to useful values. We can do this during construction or after.

In [21]:
df = pd.DataFrame({'email': emails, 'password': passwords, 'date-created': creation_dates}, index=usernames)
df.index.name = 'users' # it can be helpful to give the index a name
df

                           email  password date-created
users
alice36     alice.chan@gmail.com  sZq9hOjc   2017-11-09
bob_smith  bwsmith1983@gmail.com  JSKyqwET   2015-12-29
eve        fakemail123@yahoo.com  hdwL2nea   2016-01-20

In [22]:
# alternatively
df = pd.DataFrame(list(zip(usernames, emails, passwords, creation_dates)))
df

           0                      1         2           3
0    alice36   alice.chan@gmail.com  sZq9hOjc  2017-11-09
1  bob_smith  bwsmith1983@gmail.com  JSKyqwET  2015-12-29
2        eve  fakemail123@yahoo.com  hdwL2nea  2016-01-20

In [23]:
df.columns = ['username', 'email', 'password', 'date-created']
df.set_index('username', inplace=True)
df

                           email  password date-created
username
alice36     alice.chan@gmail.com  sZq9hOjc   2017-11-09
bob_smith  bwsmith1983@gmail.com  JSKyqwET   2015-12-29
eve        fakemail123@yahoo.com  hdwL2nea   2016-01-20

In [24]:
# to reset index to a column
df.reset_index(inplace=True)
df

    username                  email  password date-created
0    alice36   alice.chan@gmail.com  sZq9hOjc   2017-11-09
1  bob_smith  bwsmith1983@gmail.com  JSKyqwET   2015-12-29
2        eve  fakemail123@yahoo.com  hdwL2nea   2016-01-20

We can have multiple levels to an index. We'll discover that for some data sets it is necessary to have multiple levels to the index in order to uniquely identify a row.

In [25]:
df.set_index(['username', 'email'])

                                 password date-created
username  email
alice36   alice.chan@gmail.com   sZq9hOjc   2017-11-09
bob_smith bwsmith1983@gmail.com  JSKyqwET   2015-12-29
eve       fakemail123@yahoo.com  hdwL2nea   2016-01-20

### Reading data from file

We can also construct a DataFrame using data stored in a file or received from a website. The data source might be [JSON](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html), [HTML](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_html.html), [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv), [Excel](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html), [Python pickle](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_pickle.html), or even a [database connection](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html). Each format will have its own methods for reading and writing data that take different arguments. The arguments of these methods usually depend on the particular formatting of the file. For example, the values in a CSV might be separate by commas or semi-colons, it might have a header or it might not.

The `read_csv` method has to deal with the most formatting possibilities, so we will explore that method with a few examples. Try to apply these ideas when working with other file formats, but keep in mind that each format and read method is different. Always check [the Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/io.html) when having trouble with reading or writing data.

In [26]:
csv = [','.join(map(lambda x: str(x), row)) for row in np.vstack([df.columns, df])]
with open('./data/read_csv_example.csv', 'w') as f:
    [f.write(line + '\n') for line in csv]

!cat ./data/read_csv_example.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [27]:
pd.read_csv('./data/read_csv_example.csv')

    username                  email  password date-created
0    alice36   alice.chan@gmail.com  sZq9hOjc   2017-11-09
1  bob_smith  bwsmith1983@gmail.com  JSKyqwET   2015-12-29
2        eve  fakemail123@yahoo.com  hdwL2nea   2016-01-20

In [28]:
# we can also set an index from the data
pd.read_csv('./data/read_csv_example.csv', index_col=0)

                           email  password date-created
username
alice36     alice.chan@gmail.com  sZq9hOjc   2017-11-09
bob_smith  bwsmith1983@gmail.com  JSKyqwET   2015-12-29
eve        fakemail123@yahoo.com  hdwL2nea   2016-01-20

In [29]:
# what if our data had no header?
with open('./data/read_csv_noheader_example.csv', 'w') as f:
    [f.write(line + '\n') for i, line in enumerate(csv) if i != 0]
    
!cat ./data/read_csv_noheader_example.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [30]:
pd.read_csv('./data/read_csv_noheader_example.csv', names=['username', 'email', 'password', 'date-created'], header=None)

    username                  email  password date-created
0    alice36   alice.chan@gmail.com  sZq9hOjc   2017-11-09
1  bob_smith  bwsmith1983@gmail.com  JSKyqwET   2015-12-29
2        eve  fakemail123@yahoo.com  hdwL2nea   2016-01-20

In [31]:
# what if our data was tab-delimited?
tsv = ['\t'.join(map(lambda x: str(x), row)) for row in np.vstack([df.columns, df])]
with open('./data/read_csv_example.tsv', 'w') as f:
    [f.write(line + '\n') for line in tsv]

!cat ./data/read_csv_example.tsv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [32]:
pd.read_csv('./data/read_csv_example.tsv', delimiter='\t')

    username                  email  password date-created
0    alice36   alice.chan@gmail.com  sZq9hOjc   2017-11-09
1  bob_smith  bwsmith1983@gmail.com  JSKyqwET   2015-12-29
2        eve  fakemail123@yahoo.com  hdwL2nea   2016-01-20

Even within a single file format, data can be arranged and formatted in many ways. These have been just a few examples of the kinds of arguments you might need to use with `read_csv` in order to read data into a DataFrame in an organized way.

## Filtering DataFrames

One of the powerful analytical tools of the Pandas DataFrame is its syntax for filtering data. Often we'll only want to work with a certain subset of our data based on some criteria. Let's look at our Yelp data for an example.

In [33]:
yelp_df.head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,{'By Appointment Only': True},vcNAWiLM4dR7D2nwwJ7nCA,"[Doctors, Health & Medical]",Phoenix,"4840 E Indian School Rd\nSte 101\nPhoenix, AZ ...","{'Tuesday': {'close': '17:00', 'open': '08:00'...",33.499313,-111.983758,"Eric Goldberg, MD",[],True,7,3.5,AZ,business
1,"{'Take-out': True, 'Good For': {'dessert': Fal...",JwUE5GmEO-sH1FuwJgKBlQ,[Restaurants],De Forest,"6162 US Highway 51\nDe Forest, WI 53532",{},43.238893,-89.335844,Pine Cone Restaurant,[],True,26,4.0,WI,business
2,"{'Take-out': True, 'Good For': {'dessert': Fal...",uGykseHzyS5xAMWoN6YUqA,"[American (Traditional), Restaurants]",De Forest,"505 W North St\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '06:00'}...",43.252267,-89.353437,Deforest Family Restaurant,[],True,16,4.0,WI,business
3,"{'Take-out': True, 'Wi-Fi': 'free', 'Takes Res...",LRKJF43s9-3jG9Lgx4zODg,"[Food, Ice Cream & Frozen Yogurt, Fast Food, R...",De Forest,"4910 County Rd V\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '10:30'}...",43.251045,-89.374983,Culver's,[],True,7,4.5,WI,business
4,"{'Take-out': True, 'Has TV': False, 'Outdoor S...",RgDg-k9S5YD_BaxMckifkg,"[Chinese, Restaurants]",De Forest,"631 S Main St\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '11:00'}...",43.240875,-89.343722,Chang Jiang Chinese Kitchen,[],True,3,4.0,WI,business

We see the Yelp data set has a `'state'` column. If we are only interested in businesses in Arizona (AZ), we can filter the DataFrame and select only that data.

In [34]:
az_yelp_df = yelp_df[yelp_df['state'] == 'AZ']
az_yelp_df.head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,{'By Appointment Only': True},vcNAWiLM4dR7D2nwwJ7nCA,"[Doctors, Health & Medical]",Phoenix,"4840 E Indian School Rd\nSte 101\nPhoenix, AZ ...","{'Tuesday': {'close': '17:00', 'open': '08:00'...",33.499313,-111.983758,"Eric Goldberg, MD",[],True,7,3.5,AZ,business
297,"{'Take-out': True, 'Wi-Fi': 'no', 'Alcohol': '...",x5Mv61CnZLohZWxfCVCPTQ,"[Sandwiches, Pizza, Chicken Wings, Restaurants]",Phoenix,"2819 N Central Ave\nPhoenix, AZ 85004",{},33.479542,-112.073418,Domino's Pizza,[],True,12,2.5,AZ,business
298,"{'Take-out': True, 'Noise Level': 'quiet', 'De...",2ZnCITVa0abGce4gZ6RhIw,"[American (New), Sandwiches, Restaurants]",Phoenix,"1850 N Central Ave\nPhoenix, AZ 85004",{},33.468988,-112.074315,Viad Tower Restaurants,[],True,5,3.5,AZ,business
299,"{'Alcohol': 'full_bar', 'Price Range': 1, 'Noi...",EmzaQR5hQlF0WIl24NxAZA,"[American (New), Nightlife, Dance Clubs, Resta...",Phoenix,"132 E Washington St\nPhoenix, AZ 85004","{'Sunday': {'close': '02:00', 'open': '21:00'}...",33.448399,-112.071702,Sky Lounge,[],True,20,2.5,AZ,business
300,"{'Price Range': 2, 'Alcohol': 'full_bar', 'Goo...",SiwN7f0N4bs4ZtPc4yPgiA,"[Nightlife, Dance Clubs]",Phoenix,"710 N Central Ave\nPhoenix, AZ 85004",{},33.456068,-112.074225,Palazzo,[],True,15,2.5,AZ,business

In [ ]:
az_yelp_df['state'].unique()

We can combine criteria using logic. What if we're only interested in businesses with more than 10 reviews in Arizona?

In [ ]:
yelp_df[(yelp_df['state'] == 'AZ') & (yelp_df['review_count'] > 10)].head()

How does this filtering work?

When we write `yelp_df['state'] == 'AZ'`, Pandas selects the `'state'` column and checks whether each row is `'AZ'`. If so, that row is marked `True`, and if not, it is marked `False`. This is how we would normally expect a conditional to work, only now applied to an entire Pandas `Series`. We end up with a Pandas `Series` of Boolean variables.

In [ ]:
(yelp_df['state'] == 'AZ').head()

We can use a `Series` (or any similar object) of Boolean variables to index the DataFrame.

In [ ]:
df

In [ ]:
df[[True, False, True]]

This let's us filter a DataFrame using idiomatic logical expressions like `yelp_df['review_count'] > 10`.

As another example, let's consider the `'open'` column, which is a `True`/`False` flag for whether a business is open. This is also a Boolean Pandas `Series`, so we can just use it directly.

In [35]:
# the open businesses
yelp_df[yelp_df['open']].head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,{'By Appointment Only': True},vcNAWiLM4dR7D2nwwJ7nCA,"[Doctors, Health & Medical]",Phoenix,"4840 E Indian School Rd\nSte 101\nPhoenix, AZ ...","{'Tuesday': {'close': '17:00', 'open': '08:00'...",33.499313,-111.983758,"Eric Goldberg, MD",[],True,7,3.5,AZ,business
1,"{'Take-out': True, 'Good For': {'dessert': Fal...",JwUE5GmEO-sH1FuwJgKBlQ,[Restaurants],De Forest,"6162 US Highway 51\nDe Forest, WI 53532",{},43.238893,-89.335844,Pine Cone Restaurant,[],True,26,4.0,WI,business
2,"{'Take-out': True, 'Good For': {'dessert': Fal...",uGykseHzyS5xAMWoN6YUqA,"[American (Traditional), Restaurants]",De Forest,"505 W North St\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '06:00'}...",43.252267,-89.353437,Deforest Family Restaurant,[],True,16,4.0,WI,business
3,"{'Take-out': True, 'Wi-Fi': 'free', 'Takes Res...",LRKJF43s9-3jG9Lgx4zODg,"[Food, Ice Cream & Frozen Yogurt, Fast Food, R...",De Forest,"4910 County Rd V\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '10:30'}...",43.251045,-89.374983,Culver's,[],True,7,4.5,WI,business
4,"{'Take-out': True, 'Has TV': False, 'Outdoor S...",RgDg-k9S5YD_BaxMckifkg,"[Chinese, Restaurants]",De Forest,"631 S Main St\nDe Forest, WI 53532","{'Monday': {'close': '22:00', 'open': '11:00'}...",43.240875,-89.343722,Chang Jiang Chinese Kitchen,[],True,3,4.0,WI,business

In [ ]:
# the closed businesses
yelp_df[~yelp_df['open']].head()

Notice in an earlier expression we wrote `(yelp_df['state'] == 'AZ') & (yelp_df['review_count'] > 10)`. Normally in Python we use the word `and` when we are working with logic. In Pandas we have to use _bit-wise_ logical operators; all that's important to know is the following equivalencies:

`~` = `not`  
`&` = `and`  
`|` = `or`  

We can also use Panda's built-in [string operations](https://pandas.pydata.org/pandas-docs/stable/text.html) for doing pattern matching. For example, there are a lot of businesses in Las Vegas in our data set. However, there are also businesses in 'Las Vegas East' and 'South Las Vegas'. To get all of the Las Vegas businesses I might do the following.

In [36]:
vegas_yelp_df = yelp_df[yelp_df['city'].str.contains('Vegas')]
vegas_yelp_df.head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
4348,"{'Parking': {'garage': False, 'street': False,...",uzztTCsg3XAKlYqmLO40aw,"[Arts & Entertainment, Shopping, Books, Mags, ...",Las Vegas,"5835 S Eastern Ave\nSoutheast\nLas Vegas, NV 8...","{'Monday': {'close': '21:00', 'open': '10:00'}...",36.083936,-115.119422,Psychic Eye Book Shops,[Southeast],True,7,4.5,NV,business
4360,"{'Parking': {'garage': True, 'street': False, ...",IspFZDcpu9W5NvvJ7QgJZg,"[Women's Clothing, Men's Clothing, Fashion, Sh...",Las Vegas,The Forum Shops At Caesars\n3500 Las Vegas Blv...,"{'Monday': {'close': '21:00', 'open': '10:00'}...",36.124423,-115.146372,Gap,[Eastside],True,6,4.5,NV,business
4364,"{'By Appointment Only': False, 'Parking': {'ga...",Dvulg9cc3XHkt5DkBUekhw,"[Hair Salons, Beauty & Spas]",Las Vegas,467 E Silverado Ranch Blvd\nSte 175\nSoutheast...,{},36.012150,-115.153303,Great Clips,[Southeast],True,10,2.5,NV,business
4441,"{'Alcohol': 'full_bar', 'Music': {'video': Fal...",_SM8UKIwBNbmj1r629ipoQ,"[Wine Bars, Bars, Restaurants, Nightlife, Ital...",Las Vegas,"1916 Village Center Cir\nSummerlin\nLas Vegas,...","{'Monday': {'close': '23:00', 'open': '11:00'}...",36.192414,-115.304396,Chianti Cafe,[Summerlin],False,9,3.5,NV,business
4489,{},Zaw0IAXwopKX4MV23MHQRw,"[Car Wash, Automotive]",Las Vegas,"2718 E Tropicana Avenue\nEastside\nLas Vegas, ...",{},36.100507,-115.113492,Terrible Herbst,"[Eastside, Southeast]",True,3,1.5,NV,business

In [37]:
vegas_yelp_df['city'].unique()

array(['Las Vegas', 'North Las Vegas', 'N Las Vegas', 'N. Las Vegas',
       'C Las Vegas', 'Las Vegas ', 'Las Vegas, NV 89147',
       'Las Vegas East', 'North Las Vegas ', 'N E Las Vegas',
       'N W Las Vegas', 'Lake Las Vegas', 'South Las Vegas'], dtype=object)

## Applying functions and data aggregation

To analyze the data in the dataframe, we'll need to be able to apply functions to it. Pandas has many mathematical functions built in already, and DataFrames and Series can be passed to NumPy functions (since they behave like NumPy arrays).

In [38]:
log_review_count = np.log(yelp_df['review_count'])
print(log_review_count.head())
print(log_review_count.shape)

0    1.945910
1    3.258097
2    2.772589
3    1.945910
4    1.098612
Name: review_count, dtype: float64
(37938,)

In [ ]:
mean_review_count = yelp_df['review_count'].mean()
print(mean_review_count)

In the first example we took the _logarithm_ of the review count for each business. In the second case, we calculated the mean review count of all businesses. In the first case, we ended up with a number for each business. We _transformed_ the review counts using the logarithm. In the second case, we _summarized_ the review counts of all the businesses in one number. This summary is a form of _data aggregation_, in which we take many data points and combine them into some smaller representation. The functions we apply to our data sets will either be in the category of **transformations** or **aggregations**.

Sometimes we will need to transform our data in order for it to be usable. For instance, in the `'attributes'` column of our DataFrame, we have a `dict` for each business listing all of its properties. If I wanted to find a restaurant that offers delivery service, it would be difficult for me to filter the DataFrame, even though that information is in the `'attributes'` column. First, I need to transform the `dict` into something more useful.

In [40]:
def get_delivery_attr(attr_dict):
    return attr_dict.get('Delivery')

If we give this function a `dict` from the `'attributes'` column, it will look for the `'Delivery'` key. If it finds that key, it returns the value. If it doesn't find the key, it will return none.

In [41]:
print(get_delivery_attr(yelp_df.loc[0, 'attributes']))
print(get_delivery_attr(yelp_df.loc[1, 'attributes']))
print(get_delivery_attr(yelp_df.loc[2, 'attributes']))

None
False
False

We could iterate over the rows of `yelp_df['attributes']` to get all of the values, but there is a better way. DataFrames and Series have an `apply` method that allows us to apply our function to the entire data set at once, like we did earlier with `np.log`.

In [44]:
delivery_attr = yelp_df['attributes'].apply(get_delivery_attr)
delivery_attr.head(10)

0     None
1    False
2    False
3    False
4     None
5     None
6     None
7     None
8     None
9    False
Name: attributes, dtype: object

We can make a new column in our DataFrame with this transformed (and useful) information.

In [45]:
yelp_df['delivery'] = delivery_attr

# to find businesses that deliver
yelp_df[yelp_df['delivery'].fillna(False)].head(10)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,delivery
21,"{'Take-out': True, 'Takes Reservations': False...",KTqNU4plO23583DYAMGXYg,"[Sandwiches, Pizza, Chicken Wings, Restaurants]",Middleton,"2411 Allen Blvd\nMiddleton, WI 53562",{},43.100384,-89.486219,Domino's Pizza,[],True,3,3.0,WI,business,True
64,"{'Take-out': True, 'Alcohol': 'none', 'Takes R...",oc0rCahXOaJeHLzzDdSfyA,[Restaurants],Middleton,"1901 Cayuga St\nMiddleton, WI 53562",{},43.096359,-89.513737,Soup Factory,[],False,3,3.0,WI,business,True
75,"{'Take-out': True, 'Good For': {'dessert': Fal...",OC8AUJshLVimn_-P_INvJw,"[Sandwiches, Pizza, Chicken Wings, Restaurants]",Sun Prairie,"330 W Main St\nSun Prairie, WI 53590","{'Monday': {'close': '23:00', 'open': '11:00'}...",43.183277,-89.218527,Pizza Pit,[],True,4,2.5,WI,business,True
79,"{'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...",NDAxF0_RCZBQedVO_d5WnA,"[Chinese, Restaurants]",Sun Prairie,"984 W Main St\nSun Prairie, WI 53590",{},43.180786,-89.230477,Chang Jiang,[],True,9,3.0,WI,business,True
82,"{'Delivery': True, 'Waiter Service': True, 'Ta...",5uxhIGZlJm9g_zfG_83z5Q,"[Chinese, Restaurants]",Sun Prairie,"2091 McCoy Rd\nSun Prairie, WI 53590",{},43.175381,-89.248245,Peking Chinese Restaurant,[],True,6,3.0,WI,business,True
100,"{'Take-out': True, 'Good For': {'dessert': Fal...",oX6KamASYXnMIe5kpVhezw,"[Chinese, Restaurants]",Madison,"4237 Lien Rd\nSte H\nMayfair Park\nMadison, WI...","{'Monday': {'close': '21:30', 'open': '09:00'}...",43.120575,-89.308377,Flaming Wok,[Mayfair Park],True,20,3.5,WI,business,True
106,"{'BYOB': False, 'Take-out': True, 'Wi-Fi': 'no...",xZwaUcrFMSY1O9dK2dAUpA,"[Chinese, Restaurants]",Madison,"1724 Fordem Ave\nMadison, WI 53704","{'Monday': {'close': '22:00', 'open': '11:00'}...",43.094478,-89.363625,China Wok,[],True,17,3.5,WI,business,True
113,"{'Take-out': True, 'Wi-Fi': 'free', 'Good For'...",ybkWtM1ZnT2ewuquj3A9KQ,"[Restaurants, Italian]",Madison,"1849 Northport Dr\nSherman\nMadison, WI 53704","{'Monday': {'close': '22:00', 'open': '11:00'}...",43.129670,-89.360971,Benvenuto's Italian Grill,[Sherman],True,22,3.0,WI,business,True
120,"{'Take-out': True, 'Good For': {'dessert': Fal...",jo-BEjs7UYovOAupDAN_yw,"[Pizza, Restaurants]",Madison,"3001 N Sherman Ave\nSherman\nMadison, WI 53704","{'Monday': {'close': '21:00', 'open': '10:30'}...",43.129412,-89.363261,Rocky Rococo Pan Style Pizza,[Sherman],False,3,1.5,WI,business,True
127,"{'Take-out': True, 'Alcohol': 'none', 'Deliver...",pSiRWeCqs7a1xvS9ycLoTQ,"[Chinese, Restaurants]",Madison,"4929 Commercial Ave\nRidgewood\nMadison, WI 53704",{},43.106575,-89.291109,Chang Jiang,[Ridgewood],True,6,2.0,WI,business,True

It's less common (though possible) to use `apply` on an entire DataFrame rather than just one column. Since a DataFrame might contain many types of data, we won't usually want to apply the same transformation or aggregation across all of the columns.

## Data aggregation with `groupby`

Data aggregation is an [_overloaded_](https://en.wikipedia.org/wiki/Function_overloading) term. It refers to both data summarization (as above) but also to the combining of different data sets.

With our Yelp data, we might be interested in comparing the star ratings of businesses in different cities. We could calculate the mean star rating for each city, and this would allow us to easily compare them. First we would have to split up our data by city, calculate the mean for each city, and then combine it back at the end. This procedure is known as [split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/groupby.html) and is a classic example of data aggregation (in the sense of both summarizing data and also combining different data sets).

We achieve the splitting and recombining using the `groupby` method.

In [46]:
stars_by_city = yelp_df.groupby('city')['stars'].mean()
stars_by_city.head()

city
Ahwatukee          3.687500
Anthem             3.781818
Apache Junction    3.637500
Arcadia            5.000000
Atlanta            3.500000
Name: stars, dtype: float64

We can also apply multiple functions at once. It might be helpful to know the standard deviation of star ratings, the total number of reviews, and the count of businesses as well.

In [47]:
agg_by_city = yelp_df.groupby('city').agg({'stars': ['mean', 'std'], 'review_count': 'sum', 'business_id': 'count'})
agg_by_city.head()

                    stars           review_count business_id
                     mean       std          sum       count
city
Ahwatukee        3.687500  1.066955          258           8
Anthem           3.781818  0.756231          727          55
Apache Junction  3.637500  1.028010          853          80
Arcadia          5.000000       NaN            4           1
Atlanta          3.500000       NaN           16           1

In [48]:
# unstacking the columns
new_columns = map(lambda x: '_'.join(x),
                  zip(agg_by_city.columns.get_level_values(0),
                      agg_by_city.columns.get_level_values(1)))
agg_by_city.columns = new_columns
agg_by_city.head()

                 stars_mean  stars_std  review_count_sum  business_id_count
city
Ahwatukee          3.687500   1.066955               258                  8
Anthem             3.781818   0.756231               727                 55
Apache Junction    3.637500   1.028010               853                 80
Arcadia            5.000000        NaN                 4                  1
Atlanta            3.500000        NaN                16                  1

How does this work? What does `groupby` do? Let's start by inspecting the result of `groupby`.

In [49]:
by_city = yelp_df.groupby('city')
by_city

In [50]:
dir(by_city)

['__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_accessors',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_generic',
 '_aggregate_item_by_item',
 '_aggregate_multiple_funcs',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_block_agg_axis',
 '_bool_agg',
 '_builtin_table',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_blocks',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_decide_output_index',
 '_def_str',
 '_define_paths',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_fill',
 '_get_cythonized_result',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_insert_inaxis_grouper_inplace',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cython_func',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_post_process_cython_aggregate',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_shallow_copy',
 '_transform_fast',
 '_transform_general',
 '_transform_item_by_item',
 '_transform_should_cast',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_agged_blocks',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_generic_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'attributes',
 'backfill',
 'bfill',
 'boxplot',
 'business_id',
 'categories',
 'city',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'delivery',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'full_address',
 'get_group',
 'groups',
 'head',
 'hist',
 'hours',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'latitude',
 'longitude',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'name',
 'ndim',
 'neighborhoods',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'open',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'review_count',
 'rolling',
 'sem',
 'shift',
 'size',
 'skew',
 'stars',
 'state',
 'std',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'type',
 'var']

In [51]:
print(type(by_city.groups))
list(by_city.groups.items())[:5]

<class 'dict'>

[('Ahwatukee',
  Int64Index([1718, 1740, 13572, 17787, 20361, 22856, 28608, 30499], dtype='int64')),
 ('Anthem',
  Int64Index([ 1946,  1948,  1949,  1950,  1951,  1952,  1953,  1954,  1955,
               1956,  1957,  1958,  1961,  1962, 11455, 12008, 12572, 12870,
              13007, 13069, 13286, 13500, 13636, 13703, 13744, 13827, 13935,
              15483, 15581, 15756, 19358, 21295, 21303, 21327, 22354, 22428,
              22654, 22782, 23215, 24937, 25026, 26116, 26300, 26331, 26841,
              26937, 30039, 30170, 31565, 32525, 33027, 33492, 33983, 34663,
              35433],
             dtype='int64')),
 ('Apache Junction',
  Int64Index([ 2392,  2393,  2394,  2395,  2396,  2397,  2398,  2399,  2400,
               2401,  2402,  2403,  2404,  2406,  2407,  2408,  2409,  2410,
               2412,  2413,  2414,  2415,  2417,  2418,  2419,  7305,  7524,
               7525,  7528,  7529,  7530,  7531,  7532,  7533,  7534, 10813,
              11315, 11660, 12662, 12858, 12893, 13021, 13107, 13367, 13534,
              13871, 15645, 17769, 19447, 19682, 19695, 20030, 20977, 21940,
              22571, 22750, 22884, 23175, 23226, 23429, 25839, 26064, 26169,
              26582, 27131, 27594, 27901, 28112, 28124, 29329, 30062, 30753,
              30810, 30850, 31841, 33347, 33378, 34415, 34558, 36436],
             dtype='int64')),
 ('Arcadia', Int64Index([20625], dtype='int64')),
 ('Atlanta', Int64Index([16976], dtype='int64'))]

In [ ]:
by_city.get_group('Anthem').head()

When we use `groupby` on a column, Pandas builds a `dict`, using the unique elements of the column as the keys and the index of the rows in each group as the values. This `dict` is stored in the `groups` attribute. Pandas can then use this `dict` to direct the application of aggregating functions over the different groups.

## Sorting

Even though the DataFrame in many ways behaves similarly to a `dict`, it also is ordered. Therefore we can sort the data in it. Pandas provides two sorting methods, `sort_values` and `sort_index`.

In [ ]:
yelp_df.sort_values('stars').head()

In [ ]:
yelp_df.set_index('business_id').sort_index().head()

Don't forget that most Pandas operations return a copy of the DataFrame, and do not update the DataFrame in place (unless we tell it to)!

## Joining data sets

Often we will want to augment one data set with data from another. For instance, businesses in big cities probably get more reviews than those in small cities. It could be useful to scale the review counts by the city's population. To do that, we'll need to add population data to the Yelp data. We can get population data from the US census.

In [ ]:
census = pd.read_csv('./data/PEP_2016_PEPANNRES.csv', skiprows=[1])

census.head()

In [ ]:
# construct city & state fields
census['city'] = census['GEO.display-label'].apply(lambda x: x.split(', ')[0])
census['state'] = census['GEO.display-label'].apply(lambda x: x.split(', ')[2])

In [ ]:
# convert state names to abbreviations

print(census['state'].unique())

In [ ]:
state_abbr = dict(zip(census['state'].unique(), ['CT', 'IL', 'IN', 'KS', 'ME', 'MA', 'MI', 'MN', 'MO', 'NE', 'NH', 'NJ', 'NY', 'ND', 'OH', 'PA', 'RI', 'SD', 'VT', 'WI']))

In [ ]:
census['state'] = census['state'].replace(state_abbr)

In [ ]:
# remove last word (e.g. 'city', 'town', township', 'borough', 'village') from city names

census['city'] = census['city'].apply(lambda x: ' '.join(x.split(' ')[:-1]))

In [ ]:
merged_df = yelp_df.merge(census, on=['state', 'city'])
merged_df.head()

The `merge` function looks through the `'state'` and `'city'` columns of `yelp_df` and `census` and tries to match up rows that share values. When a match is found, the rows are combined. What happens when a match is not found? We can imagine four scenarios:  

1. We only keep rows from `yelp_df` and `census` if they match. Any rows from either table that have no match are discarded. This is called an _inner join_.  

2. We keep all rows from `yelp_df` and `census`, even if they have no match. In this case, when a row in `yelp_df` has no match in `census`, all the columns from `census` are merged in with null values. When a row in `census` has no match in `yelp_df`, all the columns from `yelp_df` are merged in with null values. This is called an _outer join_.

3. We privilege the `yelp_df` data. If a row in `yelp_df` has no match in `census`, we keep it and fill in the missing `census` columns as null values. If a row in `census` has no match in `yelp_df`, we discard it. This is called a _left join_.

4. We privilege the `census` data. This is called a _right join_.

The default behavior for Pandas is case #1, the _inner join_. This means if there are cities in `yelp_df` that we don't have matching `census` data for, they are dropped. Therefore, `merged_df` might be smaller than `yelp_df`.

In [ ]:
print(yelp_df.shape)
print(merged_df.shape)

There are a lot of cities in `yelp_df` that aren't in `census`! We might want to keep these rows, but we don't need any census data where there are no businesses. Then we should use a _left join_.

In [ ]:
merged_df = yelp_df.merge(census, on=['state', 'city'], how='left')
print(yelp_df.shape)
print(merged_df.shape)

Sometimes we don't need to merge together the columns of separate data sets, but just need to add more rows. For example, the New York City subway system [releases data about how many customers enter and exit the station each week](http://web.mta.info/developers/turnstile.html). Each weekly data set has the same columns, so if we want multiple weeks of data, we just have to append one week to another.

In [ ]:
nov18 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_171118.txt')
nov11 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_171111.txt')

In [ ]:
nov18.head()

In [ ]:
nov11.head()

In [ ]:
nov = pd.concat([nov18, nov11])
nov['DATE'].unique()

We can also use `concat` to perform inner and outer joins based on index. For example, we can perform some data aggregation and then join the results onto the original DataFrame.

In [ ]:
city_counts = yelp_df.groupby('city')['business_id'].count().rename('city_counts')
city_counts.head()

In [ ]:
pd.concat([yelp_df.set_index('city'), city_counts], axis=1, join='inner').reset_index().head()

Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data.

## Working with time series
Pandas has a well-designed backend for inferring dates and times from strings and doing meaningful computations with them.

In [ ]:
pop_growth = pd.read_html('https://web.archive.org/web/20170127165708/https://www.census.gov/population/international/data/worldpop/table_population.php', attrs={'class': 'query_table'}, parse_dates=[0])[0]
pop_growth.dropna(inplace=True)
pop_growth.head()

By setting the `'Year'` column to the index, we can easily aggregate data by date using the `resample` method. The `resample` method allows us to decrease or increase the sampling frequency of our data. For instance, maybe instead of yearly data, we want to see average quantities for each decade.

In [ ]:
pop_growth.set_index('Year', inplace=True)

In [ ]:
pop_growth.resample('10AS').mean()

This kind of resampling is called _downsampling_, because we are decreasing the sampling frequency of the data. We can choose how to aggregate the data from each decade (e.g. `mean`). Options for aggregation include `mean`, `median`, `sum`, `last`, and `first`.

We can also _upsample_ data. In this case, we don't have data for each quarter, so we have to tell Pandas has to fill in the missing data.

In [ ]:
pop_growth.resample('1Q').bfill().head()

In [ ]:
pop_growth.resample('1Q').ffill().head()

Pandas' time series capabilities are built on the Pandas `Timestamp` class.

In [ ]:
print(pd.Timestamp('January 8, 2017'))
print(pd.Timestamp('01/08/17 20:13'))
print(pd.Timestamp(1.4839*10**18))

In [ ]:
print(pd.Timestamp('Feb. 11 2016 2:30 am') - pd.Timestamp('2015-08-03 5:14 pm'))

In [ ]:
from pandas.tseries.offsets import BDay, Day, BMonthEnd

print(pd.Timestamp('January 9, 2017') - Day(4))
print(pd.Timestamp('January 9, 2017') - BDay(4))
print(pd.Timestamp('January 9, 2017') + BMonthEnd(4))

If we're entering time series data into a DataFrame it will often be useful to create a range of dates.

In [ ]:
pd.date_range(start='1/8/2017', end='3/2/2017', freq='B')

The `Timestamp` class is compatible with Python's `datetime` module.

In [ ]:
import datetime

pd.Timestamp('May 1, 2017') - datetime.datetime(2017, 1, 8)

## Visualizing data with Pandas

Visualizing a data set is an important first step in drawing insights. We can easily pass data from Pandas to Matplotlib for visualizations, but Pandas also plugs into Matplotlib directly through methods like `plot` and `hist`.

In [ ]:
yelp_df['review_count'].apply(np.log).hist(bins=30)

In [ ]:
pop_growth['Annual Growth Rate (%)'].plot()

The [plotting functions take many parameters](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) for customizing the appearance of the output. Since they are essentially a wrapper around the Matplotlib functions, they also accept many of the Matplotlib parameters, not all of which are listed in the Pandas documentation. Pandas provides [a guide](https://pandas.pydata.org/pandas-docs/stable/visualization.html) to making various plots from DataFrames.

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*